/*.example-icon {
    padding: 0 14px;
}*/

mat-toolbar {
    background: #de1920;
    color: white;
}

.example-spacer {
    flex: 1 1 auto;
}

.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
}

mat-sidenav {
    width: 20em;
}

mat-sidenav-content {}