<mat-card class="card">

    <div class="images">
        <img class="photo-person" src="..//../assets/a.jpg" mat-card-avatar matBadge>
        <button mat-icon-button class="icon-add"><mat-icon svgIcon="add"></mat-icon></button>
    </div>
    <p class="mat-title">Nombres Y Apellidos</p>
    <p class="mat-subheading-2">Cargo</p>

    <div class="buttons-container">
        <a class="button" mat-button>
            <mat-icon class="icon-button" svgIcon="back"></mat-icon>Regresar
        </a>
        <a class="button" mat-button>
            <mat-icon class="icon-button" svgIcon="log-out"></mat-icon>Cerrar Sesion
        </a>
    </div>

    <mat-card-footer class="footer">
        <span class="mat-body-2"><mat-icon svgIcon="logo"></mat-icon>SETI S.A.S</span><br>
        <span class="mat-caption">La capacidad de hacerlo simple</span>
    </mat-card-footer>

</mat-card>