<mat-card class="card">

    <div class="images">
        <img class="photo-person" src="..//../assets/a.jpg" mat-card-avatar matBadge>
        <button mat-icon-button class="icon-add"><mat-icon svgIcon="add"></mat-icon></button>
    </div>
    <mat-card-title>Nombres Y Apellidos</mat-card-title>
    <mat-card-subtitle>Cargo</mat-card-subtitle>

    <div class="buttons-container">
        <a class="button" mat-button>
            <mat-icon class="icon-button" svgIcon="back"></mat-icon>Regrasar
        </a>
        <a class="button" mat-button>
            <mat-icon class="icon-button" svgIcon="log-out"></mat-icon>Cerra Sesion
        </a>
    </div>

    <mat-card-footer class="footer">
        <!--
        <p class="slogan-oscuro">
            <mat-icon svgIcon="seti"></mat-icon>SETI S.A.S</p>
        <p class="slogan-claro">La capacidad de hacerlo simple</p>
        -->
        <p class="mat-display-4">Display 4</p>
        <p class="mat-display-3">Display 3</p>
        <p class="mat-display-2">Display 2</p>
        <p class="mat-display-1">Display 1</p>

        <p class="mat-headline">headline</p>
        <p class="mat-title">Title</p>
        <p class="mat-subheading-2">subheading 2</p>
        <p class="mat-subheading-1">subheading 1</p>

        <p class="mat-body-1">body 1</p>
        <p class="mat-body-2">body 2</p>
        <mat-icon svgIcon="logo"></mat-icon>
        <p class="mat-caption">caption</p>

    </mat-card-footer>

</mat-card>