.card {
    margin: 2em;
    width: 20em;
    border-radius: 28px;
    box-shadow: 0 3px 6px 0 #2b0d0d29;
    text-align: center;
}

.images {
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.photo-person {
    height: 10em;
    width: 10em;
}

.icon-add {
    position: absolute;
    bottom: 0;
    right: 0;
}

.buttons-container {
    margin: 2em 0 4em 0;
}

.button {
    width: 100%;
    text-align: left;
    border-bottom: solid 1px #dfdfdf;
    color: #de1920;
}

.icon-button {
    margin-right: .8em;
    width: 1.3em;
}

.button:hover {
    font-weight: bold;
    background-color: #ffdfdfdb;
}


/*
.slogan-oscuro {
    color: #de1920;
    font-weight: bold;
    font-size: .8em;
}

.slogan-claro {
    color: #080808;
    font-size: .7em;
}
*/